.svg-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Legend */
#legend ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
#legend li {
  margin: 3px 0;
}
#legend span {
  display: inline-block;
}
#legend .color-container {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border-radius: 50%;
  border: 3px solid;
}

/* Adjacency matrix legend */
.matrix-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 15px;
}
.matrix-legend ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.matrix-legend li {
  margin-right: 10px;
  text-align: center;
}
.matrix-legend .legend-color-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.matrix-legend .legend-color-label {
  margin-top: 3px;
  font-size: 1.6rem;
}
.matrix-tooltip {
  margin-top: 20px;
  font-size: 2rem;
}
.matrix-tooltip.hidden {
  opacity: 0;
}
.matrix-tooltip-charA,
.matrix-tooltip-charB,
.matrix-tooltip-scenes {
  font-weight: 700;
}